---
import '@fontsource-variable/inter';
import '../global.scss';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/public/img/maze.svg?q=1" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Spencer Smith</title>
    <script defer src="https://assets.onedollarstats.com/stonks.js"></script>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
