* { box-sizing: border-box; }
body {
  background-color: whitesmoke;
  /* background-color: #77dd86; */
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}
#logo {
  display: block;
  background-color: #333;
  border-radius: 6px;
}
header {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
}
header a {
  text-decoration: none;
  color: inherit;
}
nav {
  display: flex;
  width: 100%;
  justify-content: center;
}
nav a {
  padding: 10px 15px;
  margin: 0 8px;
  background-color: #eaeaea;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px;
  color: #222;
  transition: all 0.15s;
}
nav a:nth-child(1) { background-color: rgb(255, 200, 70); }
nav a:nth-child(1):hover { background-color: rgb(228, 179, 63); }
nav a:nth-child(2) { background-color: rgb(124, 200, 152); }
nav a:nth-child(2):hover { background-color: rgb(102, 165, 124); }
nav a:nth-child(3) { background-color: rgb(1, 200, 230); }
nav a:nth-child(3):hover { background-color: rgb(1, 177, 204); }
a.logo img {
  height: 40px;
}
.logo-wrap {
  position: relative;
  max-height: 400px;
  max-width: 400px;
  margin: 20px auto 10px;
  border-radius: 8px;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #313131ad;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.15s;
  cursor: pointer;
}
.overlay:hover {
  opacity: 1;
}
.overlay img {
  height: 70px;
  opacity: 0.8;
  transform: rotate(0);
  transition: all 0.2s;
}
.overlay:hover img {
  transform: rotate(-30deg);
}
.content {
  max-width: 500px;
  margin: 40px auto 10px;
}
h2 {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.25px;
}
.article {
  display: block;
  background-color: #484848;
  color: white;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  transform: translateX(0px);
  transition: all 0.2s;
}
.article + .article {
  margin-top: 15px;
}
.article:hover, .article:focus {
  outline: none;
  background-color: #505050;
  transform: translateX(5px);
}
.article .title {
  font-weight: 500;
  color: #fdc847;
}
.article .preview {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.25rem;
}
