* { box-sizing: border-box; }
body {
  background-color: #333;
  /* background-color: #77dd86; */
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}
svg#logo {
  max-height: 400px;
  max-width: 400px;
  display: block;
  margin: 20px auto 10px;
  background-color: white;
  border-radius: 6px;
}
header {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
}
header a {
  text-decoration: none;
  color: inherit;
}
nav {
  display: flex;
  width: 100%;
  justify-content: center;
}
nav a {
  padding: 5px 10px;
  margin: 0 10px;
  background-color: #eaeaea;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px;
}
a.logo img {
  height: 40px;
}
